{%extends "base.html"%}
{%block operation%}
    {%if books|length == 0%}
        <h4><span class="bg-warning">There's No Book Available At This Time</span></h4>
    {%else%}
        <h3>All Books</h3>
    {%endif%}
{%endblock%}
{%block content%}
    {%if books|length != 0%}
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead class="table-head">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>category</th>
        </tr>
    </thead>
{% for book in books %}
        <tr>
            <td>
                <div class="dropdown">
                    <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <div href="">{{book.title}}</div>
                <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
<!--                        <li><a href="">Details</a></li>-->
                        <li><a href="{{url_for('reviewBook', book_id = book.id, class_name = 'All')}}">Details - Add Review</a></li>
                    </ul>
                </div>
            </td>
            <td>

                {{book.author.name }}

            </td>
            <td>
                {{ book.publisher.name }}
            </td>
            <td>
                {{ book.category.name }}
            </td>
        </tr>
    {% endfor %}
</table>
    {%endif%}
{%endblock%}
