{%extends "base.html"%}
{% block title %}Books in category {{category.name}}{% endblock %}
{%block operation%}
    {% if books|length == 0 %}
<h4><span class="bg-warning">There Are No Books In The '{{category.name}}' Category</span></h4>
    {%else%}
        <h3>List of Books in '{{category.name}}' Category</h3>
    {%endif%}
{%endblock%}
{%block content%}

{% if books|length == 0 %}
    <a class="btn btn-primary" href="{{ url_for('newBook', class_name = 'Category', class_id = category.id)}} ">Add New Book</a>
    <a class="btn btn-primary" href= " {{url_for('categories')}} ">Back To Categories</a>
{%else%}
    <a class="btn btn-primary" href="{{ url_for('newBook', class_name = 'Category', class_id = category.id)}} ">Add New Book</a>
        <a class="btn btn-primary" href= " {{url_for('categories') }} ">Back To Categories</a>
    <br>
    <br>
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead class="table-head">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
        </tr>
    </thead>
        {% for book in books %}
        <tr>
            <td>
                <div class="dropdown">
                    <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{ book.title }}<span class="caret"></span></div>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="{{url_for('reviewBook', book_id = book.id, class_name = 'Category')}}">Details - Add Review</a></li>
                        <li><a href="{{ url_for('editBook', book_id = book.id, class_name = 'Category') }}">Edit</a></li>
                        <li><a href="{{url_for('deleteBook', book_id = book.id, class_name = 'Category')}}">Delete</a></li>
                    </ul>
                </div>
            </td>
            <td>
                {{ book.author.name }}
            </td>
            <td>
                {{ book.publisher.name }}
            </td>
        </tr>
        {% endfor %}
        </table>
        <a class="btn btn-primary" href="{{ url_for('newBook', class_name = 'Category', class_id = category.id)}} ">Add New Book</a>
        <a class="btn btn-primary" href= " {{url_for('categories') }} ">Back To Categories</a>
{%endif%}
{%endblock%}
