{% extends "base.html" %}
{% block title %}List of all the categories{% endblock %}
{%block operation%}
    {%if categories|length == 0%}
        <h4><span class="bg-warning">There's No Category Available At This Time</span></h4>
    {%else%}
        <h3>Book Categories</h3>
    {%endif%}
{%endblock%}
{% block content %}
    {%if categories|length == 0%}
        <a class="btn btn-primary" href="{{url_for('newCategory')}}">Add New Category</a>
    {%else%}
        <a class="btn btn-primary" href="{{url_for('newCategory')}}">Add New Category</a>
        <br><br>
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead class="table-head">
                <tr>
                    <th>Category Name</th>
                </tr>
    </thead>
            {% for category in categories %}
             <tr>
                <td>
                    <div class="dropdown">
      <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{category.name}}
        <span class="caret"></span>
      </div>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="{{url_for('booksByCategory', category_id = category.id)}}">Books</a></li>
        <li><a href="{{url_for('editCategory', category_id = category.id )}} ">Edit</a></li>
        <li><a href="{{url_for('deleteCategory', category_id = category.id)}} ">Delete</a></li>
      </ul>
    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
                <a class="btn btn-primary" href="{{ url_for('newCategory') }}">Add New Category</a>
    {%endif%}
{% endblock%}
