{% extends "base.html" %}
{% block title %}
    Art Book Exchange - Contact
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container-fluid">
        <header>
            <div class="container">
                <h3 id="wlk">OPEN YOUR HEART TO ART</h3>
            </div>
        </header>
        <div class="well container-fluid" id="bg">
            <div id="msg">
                <img src="/static/img/jtaime1web.jpg" class="img-responsive img-thumbnail" alt="It's True" >
            </div>
        </div>
        </div>
    </div>
{% endblock %}
<h1>Index</h1>
