{% extends "base.html" %}
{% block title %}
    Art Book Exchange - Welcome to All Artists
{% endblock %}

{% block content %}
    <div class="row">
        <header>
            <h4 id="wlk">Welcome! this is a site where you can share your favorite Art Book</h4>
        </header>
        <div class="well" id="bg">
            <h3 id="credo">Credo...</h3>
            <div id="msg">
<!--                <img src="/static/img/jtaime1web.jpg" class="img-responsive img-thumbnail" alt="Responsive image" >-->
            <p>You have a great feel for the Art. You've read a great book and you'd like to share your experience with the artists.
            </p>
            <p>This is the place where you can do just that.
            All it takes for you is log in with your Google or Facebook account and share. Or just go ahead and enjoy the beautiful experience of these wonderful people.</p>
            </div>
        </div>
    </div>
{% endblock %}
<h1>Index</h1>
